* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    background: grey;
    align-items: center;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 13px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: buttonface;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    margin-top: 10px;
    margin-bottom: 12px;
    font-weight: 700;
}

button:hover {
    background: white;
    border: 1px solid black;
}

#delete-btn {
    background: rgb(48, 47, 47);
    color: white;
    border: 1px solid rgb(48, 47, 47);
}

#delete-btn:hover {
    background: black;
    border: 1px solid white;
}

#box {
    width: 200px;
    background-color: khaki;
    padding: 20px;
    color: black;
    text-align: center;
}

li {
    list-style: none;
    color: white;
    padding-left: 0;
    margin-bottom: 7px;
}

li a {
    color: white;
    text-decoration: none;
}

img {
    width: 15%;
    border: 3px white solid;
    border-radius: 80%;
    margin-left: 15px;
    align-items: center;
}
